@import "./../../../library/bootstrap.css";
@import "./../partials/base";
@import "./../partials/top_nav";

.tax-title {
    font-size: 18px;
    position: relative;
    margin: 0 0 20px 0;
}
.tax-title strong {
    color: #4267b2;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 20px;
    display: inline-block;
    z-index: 50;
    background: url(../../images/icon-tax.png) no-repeat right center #fff;
    position: relative;
}
.navbar-core .navbar-menu > .dropdown > .dropdown-menu > li > a {
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #636363;
    text-transform: uppercase;
    padding-left: 8px;
  width: 100px;
  }
  .navbar-core .navbar-menu > .dropdown > .dropdown-menu > li {
    min-width: 0;
    margin: 0;
    display: block;
    width: 100px;
  }
  .navbar-core .navbar-menu .dropdown .home-list,
  .navbar-core .navbar-menu .dropdown .service-lift {
    padding-bottom: 6px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
  }
  .navbar-core .navbar-menu .dropdown .menu-child {
    width: 100px;
  position: relative;
}
  