
/*Open Sans*/
@font-face {
    font-family: 'tahoma';
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/TAHOMAB0.TTF'); /* {{embedded-opentype-gf-url}} */
}

@font-face {
    font-family: 'tahoma';
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/TAHOMA_0.TTF'); /* {{embedded-opentype-gf-url}} */

}

@font-face {
    font-family: 'tahoma';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/TAHOMABD.TTF'); /* {{embedded-opentype-gf-url}} */
}


body,
html {
    font-family: 'tahoma', sans-serif;
    font-size: 14px;
    color: #111111;
    font-weight: 400;
    line-height: 1.4em;
    background: #ffffff;
}
p {
    font-family: 'tahoma', sans-serif;
    font-size: 14px;
    color: #636363;
    line-height: 26px;
    margin: 0;
    font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
a {
    color: #636363;
    text-decoration: none;
}
a,
button {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
}
a:hover,
a:focus,
button:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    outline: none;
    color: inherit;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
}
button:focus {
    outline: 0;
}
*:focus {
    outline: 0;
}
input:focus {
    outline: none;
}
ul {
    margin-bottom: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
}
.btn.focus,
.btn:focus,
.btn:hover {
    color: #111;
}


.active {
    color: #4267b2 !important;
}
.active>a {
    color: #4267b2 !important;
}
.bg-active{
    background: #4267b2 !important;
    color: #000 !important;
}
.form-control:focus {
    outline: none;
    border-color: #ebebeb;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
}
.button {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    border-width: 2px;
    background: #4267b2;
    border-style: solid;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-family: 'Raleway', sans-serif;
}
.border-color {
    border-color: #4267b2;
}
.border-color2 {
    border-color: #fff;
}
.btn-hover:hover {
    background: #111 !important;
    color: #4267b2 !important;
    border-color: #111 !important;
}
.btn-hoverV3:hover {
    background: #4267b2 !important;
    color: #111 !important;
    border-color: #4267b2 !important;
}
.btn-hoverV2:hover {
    background: #fff !important;
    color: #4267b2 !important;
    border-color: #4267b2 !important;
}
.header-menu .navbar-core .hamburger {
    display: none;
}
.swal2-select { display: none !important}
.swal2-popup { top:72px !important}

#cke_39,#cke_40,#cke_41,#cke_42,#cke_43,#cke_44,#cke_45,#cke_46,#cke_47
{
    display: none !important;
}