.breadcrumb-box {
    width: auto;
    float: left;
    margin-top: 0;
    width: 100%;
}
.breadcrumb-wrapper {
    background: #f8f8f8;
}
.breadcrumb-wrapper .breadcrumb-box {
    position: relative;
}
.breadcrumb-wrapper .breadcrumb-box .fa-home {
    position: absolute;top: 10px;
}

.breadcrumb-wrapper .breadcrumb-box .breadcrumb { background: none;margin-bottom: 0}

.breadcrumb-wrapper .breadcrumb-box .breadcrumb li a { color: #333}
.breadcrumb-wrapper .breadcrumb-box .breadcrumb li:last-child a { color: #4267b2}
